<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="text">
        <p style="font-size: 30px; font-weight: bold; text-align: center">Welcome to 'Friends From MBTI'</p>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a class="login" href="login">LOGIN</a></li>
            <li><a class="signup" href="signup">SIGN UP</a></li>
        </ul>
    </nav>
</body>
</html>

 <!-- Copyright (c) 2021 by Emil (https://codepen.io/emilcarlsson/pen/XbZprZ) -->
