<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/test.css">
    <script src="/js/test.js" defer></script>
    <title>Document</title>
</head>
<body>
    
    <img src='/images/q1.png'/>

    <div class="question">
        <span class="question">친구와의 약속이 취소되었을 때 나는</span>
        <input type='radio' name='option1' value='E' />아쉬운 마음에 다른 친구를 찾는다
        <input type='radio' name='option1' value='I' />은근히 기쁜 마음으로 혼자 쉰다
    </div>

    <img src='/images/q2.png'/>

    <div class="question">
        <span class="question">모임에서 처음 본 사람을 만났을 때 나는</span>
        <input type='radio' name='option2' value='I' />굳이 내가 먼저 말 걸지 않는다
        <input type='radio' name='option2' value='E' />친해져서 나쁠 건 없으니 먼저 말 건다 
    </div>

    <img src='/images/q3.png'/>

    <div class="question">
        <span class="question">내가 진정한 휴식시간이라고 생각하는 시간은</span>
        <input type='radio' name='option3' value='I'/> 혼자 생각에 잠겨 내 자신을 돌아볼 때
        <input type='radio' name='option3' value='E' /> 친구들과 근황에 대해 이야기하며 함께할 때
    </div>

    <img src='/images/q4.png'/>

    <div class="question">
        <span class="question">사과를 떠올렸을 때 가장 먼저 생각나는 키워드는</span>
        <input type='radio' name='option4' value='S'/> 과일, 빨간색, 동그라미 등 사과의 외형과 속성
        <input type='radio' name='option4' value='N' /> 뉴턴, 백설공주, 애플 등 사과에 관련된 이야깃거리
    </div>

    <img src='/images/q5.png'/>

    <div class="question">
        <span class="question">일할 때 나는</span>
        <input type='radio' name='option5' value='N'/> 스스로 나만의 방법을 만드는 것이 좋다
        <input type='radio' name='option5' value='S' /> 남들이 하는 대로 따라가는 것이 좋다
    </div>

    <img src='/images/q6.png'/>

    <div class="question">
        <span class="question">주변 사람들이 나에게 하는 말은</span>
        <input type='radio' name='option6' value='S'/> 꾸준하고 참을성이 있다
        <input type='radio' name='option6' value='N' /> 창의적이고 독창적이다
    </div>

    <img src='/images/q7.png'/>

    <div class="question">
        <span class="question">내게 최고의 칭찬은</span>
        <input type='radio' name='option7' value='T'/> 넌 정말 똑똑하고 이성적이야
        <input type='radio' name='option7' value='F' /> 넌 정말 친절하고 다정해
    </div>

    <img src='/images/q8.png'/>

    <div class="question">
        <span class="question">상대방과 언쟁할 때 나는</span>
        <input type='radio' name='option8' value='F'/> 할 말이 많지만 상대를 불쾌하지 않는 것이 더 중요하다
        <input type='radio' name='option8' value='T' /> 상대방의 기분보다는 논리에 맞는 말을 하는 것이 더 중요하다
    </div>

    <img src='/images/q9.png'/>

    <div class="question">
        <span class="question">책 읽다 내 생각이 났다며 친구에게 연락이 왔을 때</span>
        <input type='radio' name='option9' value='T'/> 그게 무슨 책인데?
        <input type='radio' name='option9' value='F' /> 고마워, 감동이야~
    </div>

    <img src='/images/q10.png'/>

    <div class="question">
        <span class="question">기대하던 여행을 준비하는 과정에서 나는</span>
        <input type='radio' name='option10' value='P'/> 여행지에서는 발 닿는 모든 곳이 구경거리다
        <input type='radio' name='option10' value='J' /> 여행 계획은 철저히 세워 둬야 보람차다
    </div>

    <img src='/images/q11.png'/>

    <div class="question">
        <span class="question">내 업무 스타일은</span>
        <input type='radio' name='option11' value='J'/> 체계적이고 조직적으로 수행한다
        <input type='radio' name='option11' value='P' /> 그때그때 상황에 맞게 조정하며 수행한다
    </div>

    <img src='/images/q12.png'/>

    <div class="question">
        <span class="question">생각했던 스케줄에 변동이 생겼다</span>
        <input type='radio' name='option12' value='J'/> 어쩔 수 없는 것은 알지만 스트레스를 받는다
        <input type='radio' name='option12' value='P' /> 예상치 못한 새로운 상황에 설레인다
    
    </div>
        
    <button onclick='checkResult(), goToResult()'> MBTI 결과 확인하기</radio>
</body>
</html>