<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/result.css">
    <script src="/js/result.js" ></script>
    <title>Document</title>
</head>
<body>
    <div class="text">
        <p style="font-size: 30px; font-weight: bold; text-align: center">This is ENTP</p>
        <p style="font-size: 25px; font-weight: bold; text-align: center">This is ENTP</p>

        <button onclick="name()">ehlsk?</button>

        </div>
</body>
</html>